<!-- Überschrift -->
<h2 class="ui center aligned icon header">
  <i class="edit blue icon"></i>
  <div class="content">
    Buch bearbeiten
    <div class="sub header">Hier kannst du Bücher bearbeiten.</div>
  </div>
</h2>

<!-- Alle Attribute -->
<div class="ui grid">

  <div class="sixteen wide column"></div>
  <div class="sixteen wide column"></div>   

  <div class="four wide column"></div>
  <div class="three wide column">
      <h4 class="ui header">Titel</h4>  
      <div class="ui input focus">
      <input placeholder="Titel..." type="text">
      </div>
  </div>
  <div class="three wide column">
      <h4 class="ui header">Autor</h4>  
      <div class="ui input focus">
      <input placeholder="Autor..." type="text">
      </div>
  </div>
  <div class="three wide column">
      <h4 class="ui header">Verlag</h4>  
      <div class="ui input focus">
      <input placeholder="Verlag..." type="text">
      </div>
  </div>
  <div class="three wide column"></div>
 
  <div class="four wide column"></div>
  <div class="three wide column">
      <h4 class="ui header">ISBN</h4>  
      <div class="ui input focus">
      <input placeholder="ISBN..." type="text">
      </div>
  </div>
  <div class="three wide column">
      <h4 class="ui header">Auflage</h4>  
      <div class="ui input focus">
      <input placeholder="Auflage..." type="text">
      </div>
  </div>
  <div class="three wide column">
      <h4 class="ui header">Erscheinungsjahr</h4>  
      <div class="ui input focus">
      <input placeholder="Erscheinungsjahr..." type="text">
      </div>
  </div>
  <div class="three wide column"></div>

  <div class="four wide column"></div>
  <div class="three wide column">
      <h4 class="ui header">Kategorie</h4>  
      <div class="ui input focus">
      <input placeholder="Kategorie..." type="text">
      </div>
  </div>
  <div class="nine wide column"></div>

  <div class="ui three column centered grid">
    <button class="align center large ui blue button">
        Speichern
    </button>
  </div>

</div>
