<div class="ui inverted secondary pointing blue menu">
    {{#link-to "buch.index"}}  
    <a class="active item">
      Home
    </a>
    {{/link-to}}
    {{#link-to "buch.bearbeiten"}}
    <a class="item">
      Bearbeiten
    </a>
    {{/link-to}}
    {{#link-to "buch.anlegen"}}
    <a class="item">
      Anlegen
    </a>
    {{/link-to}}
  </div>

{{outlet}}